.film_card {
  display: flex;
  font-size: 16px;
  padding: 10px;
}
.film_card_description {
  margin-left: 10px;
  width: 350px;
}
.title {
  font-size: 30px;
  text-align: center;
}

.label__additional {
  font-weight: 700;
  font-size: 20px;
  margin-right: 5px;
  border-bottom: 1px solid rgb(209, 208, 208);
  margin: 0;
  padding-top: 20px;
  padding-bottom: 10px;
}

.link {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  color: rgb(32, 31, 31);
  width: 70px;
  padding: 10px;
  text-align: center;
}

.link:not(:last-child) {
  margin-right: 10px;
}

.link:hover {
  color: rgb(37, 116, 206);
}

.link_active {
  color: rgb(37, 116, 206);
}
.button {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: transparent;
  border: none;
  font-size: 20px;
  padding: 5px;
  font-weight: 700;
}

.button:hover,
.button:focus {
  color: rgb(37, 116, 206);
}
.nav__menu {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(204, 204, 204);
}
